<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Suriya T | Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <header>
    <h1>My Portfolio</h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('project') }}">Projects</a>
        <a href="{{ url_for('skills') }}">Skills</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
  </header>

  <div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>I'm Suriya T – a Computer Science postgrad passionate about Python, ML, and cybersecurity.</p>
    <a href="{{ url_for('project') }}">Project</a> | 
    <a href="{{ url_for('skills') }}">Skills</a> | 
    <a href="{{ url_for('certifications') }}">Certifications</a> | 
    <a href="{{ url_for('contact') }}">Contact</a>
  </div>

  <footer>
    &copy; 2025 Suriya T. All rights reserved.
  </footer>

</body>
</html>
